# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# environment files
.gitconfig
.env
.env.*

# keys and certificates
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# Logs
logs
*.log

# dependencies
node_modules/
.npmrc

# testing
coverage

# cache files
.eslintcache

# build folders
build

# build artifacts (only ROOT LEVEL folders are ignored)
/constants
/utilities
