# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.npmrc
.pnp
.pnp.js

# testing
coverage

# build folders
.next/
out/
build/
dist/

# cache folders and files
.parcel-cache/

# development environment files
.gitconfig
.env.*
.eslintcache
.stylelintcache

# typescript
*.tsbuildinfo
typedoc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# turbo
.turbo

# lock files
pnpm-lock.yaml

storybook-static/