@sprovod-client:registry=https://sprovod-336911096458.d.codeartifact.eu-central-1.amazonaws.com/npm/sprovod-client/
//sprovod-336911096458.d.codeartifact.eu-central-1.amazonaws.com/npm/sprovod-client/:always-auth=true
//sprovod-336911096458.d.codeartifact.eu-central-1.amazonaws.com/npm/sprovod-client/:_authToken=${CODEARTIFACT_AUTH_TOKEN}

@sprovod-config:registry=https://sprovod-336911096458.d.codeartifact.eu-central-1.amazonaws.com/npm/sprovod-config/
//sprovod-336911096458.d.codeartifact.eu-central-1.amazonaws.com/npm/sprovod-config/:always-auth=true
//sprovod-336911096458.d.codeartifact.eu-central-1.amazonaws.com/npm/sprovod-config/:_authToken=${CODEARTIFACT_AUTH_TOKEN}